/*
  Inspired/Copied by/from:
  - [A] https://github.com/elad2412/the-new-css-reset
  - [B] https://github.com/sindresorhus/modern-normalize
  - [C] https://www.joshwcomeau.com/css/custom-css-reset/
  - [D] https://piccalil.li/blog/a-modern-css-reset/
  - [E] https://css-tricks.com/snippets/css/system-font-stack/#aa-method-1-system-fonts-at-the-element-level
  - [F] https://tailwindcss.com/docs/preflight + https://unpkg.com/tailwindcss@3.2.2/src/css/preflight.css
  - [Z] Custom
*/

html {
  /* Ref [B]: Prevent adjustments of font size after orientation changes in iOS. */
  -webkit-text-size-adjust: 100%;

  /* Ref [B]: Use a more readable tab size (opinionated). */
  -moz-tab-size: 2;
  tab-size: 2;

  /* Ref [C]: Tweaking line-height, The WCAG criteria states that line-height should be at least 1.5. */
  line-height: 1.5;
}

body {
  /*
   * Ref [B]/[E]/[Z]: Prefers 'native' OS fonts with the benefits of very good rendering (even at small sizes) + no downloads required.
   * This is okay since we are white-label and do not need any explicit font to match the CI of the affected company regarding that aspect.
   * See also:
   * - https://caniuse.com/font-family-system-ui
   * - https://css-tricks.com/snippets/css/system-font-stack/#aa-method-1-system-fonts-at-the-element-level
   */
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";

  /** Ref [F]: Inherit line-height from `html` so users can set them as a class directly on the `html` element. */
  line-height: inherit;

  /**
   * Ref [C]/[Z]: Adjust font smoothing for Apple devices for Retina times.
   * MacOS is the only operating system to use subpixel-antialiasing, and so this rule has no effect on Windows, Linux, or mobile devices.
   */
  -webkit-font-smoothing: antialiased;
}

/* Ref [B]/[F]: Add the correct text decoration in Chrome, Edge, and Safari. */
abbr:where([title]) {
  text-decoration: underline dotted;
}

/**
 * Ref [B]: Improve consistency of default fonts in all browsers (https://github.com/sindresorhus/modern-normalize/issues/3)
 * and correct the odd 'em' font sizing in all browsers.
 */
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo,
    monospace;
  font-size: 1em;
}

/* Add the correct font size in all browsers. */
small {
  font-size: 80%;
}

/**
 * Ref [B]: Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}
